@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/* line 2, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* line 7, ../sass/style.scss */
nav {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 50px);
  max-width: 1080px;
  justify-content: space-between;
  margin-top: 30px;
  align-items: center;
}
/* line 15, ../sass/style.scss */
nav img {
  height: 60px;
}
/* line 19, ../sass/style.scss */
nav div a {
  color: black;
  text-decoration: none;
  margin-left: 50px;
}
/* line 24, ../sass/style.scss */
nav div .login {
  color: white;
  background-color: black;
  border-radius: 50px;
  padding: .6em 1.3em;
}

/* line 32, ../sass/style.scss */
footer {
  background-color: #111;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}
/* line 38, ../sass/style.scss */
footer img {
  height: 60px;
}
/* line 41, ../sass/style.scss */
footer section {
  display: flex;
  align-items: flex-start;
}
/* line 45, ../sass/style.scss */
footer div {
  width: 250px;
}
/* line 47, ../sass/style.scss */
footer div p {
  color: #777;
  margin: 0;
  margin-bottom: 15px;
}
/* line 52, ../sass/style.scss */
footer div h2 {
  color: white;
}
/* line 55, ../sass/style.scss */
footer div a {
  color: white;
  text-decoration: none;
  display: block;
  padding-bottom: 5px;
}

/* line 63, ../sass/style.scss */
h2 {
  width: calc(100% - 50px);
  max-width: 1080px;
  margin: 0;
  font-size: 1.3em;
  margin-bottom: 15px;
}

/* line 70, ../sass/style.scss */
#home {
  width: calc(100% - 50px);
  max-width: 1080px;
  margin: 0 auto;
}
/* line 74, ../sass/style.scss */
#home .intro {
  display: flex;
  align-items: center;
  height: 90vh;
}
/* line 78, ../sass/style.scss */
#home .intro img, #home .intro div {
  width: 50%;
}
/* line 81, ../sass/style.scss */
#home .intro h1 {
  font-size: 3em;
}

/* line 86, ../sass/style.scss */
#det_article {
  width: calc(100% - 50px);
  max-width: 1080px;
  margin: 0 auto;
}
/* line 90, ../sass/style.scss */
#det_article h1 {
  font-size: 2.2em;
}
/* line 93, ../sass/style.scss */
#det_article .content {
  display: flex;
}
/* line 95, ../sass/style.scss */
#det_article .content img {
  width: 300px;
}
/* line 98, ../sass/style.scss */
#det_article .content p {
  width: 100%;
}

/* line 103, ../sass/style.scss */
#liste_articles {
  width: calc(100% - 50px);
  max-width: 1080px;
  margin: 0 auto;
}
/* line 104, ../sass/style.scss */
#liste_articles h2 {
  font-size: 2em;
}
/* line 110, ../sass/style.scss */
#liste_articles hr {
  margin: 0 0 40px 0;
}

/* line 114, ../sass/style.scss */
#liste_cours {
  width: calc(100% - 50px);
  max-width: 1080px;
  margin: 0 auto;
}
/* line 117, ../sass/style.scss */
#liste_cours h2 {
  font-size: 2em;
}
/* line 123, ../sass/style.scss */
#liste_cours hr {
  margin: 0 0 40px 0;
}
/* line 126, ../sass/style.scss */
#liste_cours img {
  width: 200px;
}
/* line 129, ../sass/style.scss */
#liste_cours h4 {
  margin-bottom: 5px;
}

/* line 133, ../sass/style.scss */
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* line 138, ../sass/style.scss */
.card {
  width: calc(33% - 20px);
}
/* line 140, ../sass/style.scss */
.card img {
  width: 100%;
  height: 150px;
  object-fit: fill;
}
/* line 145, ../sass/style.scss */
.card h3 {
  font-weight: 100;
  margin: 0;
  font-size: .8em;
}
/* line 150, ../sass/style.scss */
.card h4 {
  margin: 10px 0;
  font-size: 1.2em;
}
/* line 154, ../sass/style.scss */
.card a {
  color: black;
}

/* line 158, ../sass/style.scss */
hr {
  height: 1px;
  background-color: black;
  border: 0;
  display: block;
  margin-top: 80px;
}

/* line 168, ../sass/style.scss */
.reco {
  width: 100%;
  display: flex;
  align-items: center;
}
/* line 172, ../sass/style.scss */
.reco img {
  width: 90px;
  height: 170px;
  object-fit: fill;
}
/* line 177, ../sass/style.scss */
.reco div {
  margin-left: 15px;
}
/* line 179, ../sass/style.scss */
.reco div h3 {
  margin: 0;
}
/* line 182, ../sass/style.scss */
.reco div h4 {
  font-weight: 100;
  font-size: .8em;
  margin: 0;
}

/* line 189, ../sass/style.scss */
.preview {
  display: flex;
  background-color: #EEE;
  margin: 70px 0;
}
/* line 193, ../sass/style.scss */
.preview img {
  height: 100%;
  width: 300px;
  object-fit: fill;
}
/* line 198, ../sass/style.scss */
.preview div {
  padding: 20px 40px;
}
/* line 200, ../sass/style.scss */
.preview div h3 {
  font-size: 1.5em;
}
